.strategies__section {
}
.strategies__container {
}
.section-title-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
}
.article_descripttion > span {
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  position: relative;
  &::after {
    content: "";
    width: 1px;
    height: 15px;
    background-color: $primery-text-color;
    position: absolute;
    right: -7px;
    top: 4px;
  }
}
.article-blok {
  display: flex;
  gap: 30px;
}
.strategies__description {
  padding-bottom: 40px;
}
.article_descripttion {
}
.article {
  border: 1px solid #dedede;
  border-radius: 8px;
  max-width: 350px;
}
.article__link {
  color: $primery-text-color;
  width: 100%;
  height: 100%;
  display: block;
  &:hover .article-title,
  &:focus .article-title {
    color: $color_accent;
  }
  &:hover .article-img,
  &:focus .article-img {
    color: $color_accent;
    -webkit-filter: grayscale(99%);
    filter: grayscale(99%);
  }
}
.article-img {
  transition: all $transition__stock;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  background-image: url(./img/article.png);
  display: block;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  border-top: 8px;
}

.article__decorative-container {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 18px;
  padding: 0px 27px;
}
.article-by {
}
.article-date {
}
.article-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  padding-top: 12px;
  padding-left: 27px;
  padding: 12px 27px 40px 27px;
  transition: all $transition__stock;
}
@media screen and (max-width: 767px) {
  .article-blok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .article-img {
    height: 198px;
  }
}
@media screen and (min-width: 768px) {
  .article-blok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .article-img {
    height: 186px;
  }
}
@media screen and (min-width: 1150px) {
  .article-blok {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
