// .modal-btn {
//   display: inline-block;
//   margin-bottom: auto;
//   font-weight: 600;
//   font-size: 12px;
//   line-height: 16/12 * 100%;
//   letter-spacing: 0.09em;
//   text-transform: uppercase;
//   color: $color_white;
//   background-color: transparent;
//   padding: 12px 20px;
//   border: 1px solid $color_accent;
//   border-radius: 20px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transition: background-color $transition__stock, color $transition__stock;
//   &:hover,
//   &:focus {
//     background-color: $color_accent;
//   }
// }

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48/32 * 100%;
  margin: 0px 0px 16px 0px;
}

._container {
  padding: 0 20px;
  // max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
._section {
  padding-top: 50px;
  padding-bottom: 50px;
  // margin-left: auto;
  // margin-right: auto;
}
._suptitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin: 40px 0px 8px 0px;
}
._subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  margin: 0px 0px 12px 0px;
}

._descripttion {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
}

@media screen and (min-width: 768px) {
  ._container {
    width: 768px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }

  ._descripttion {
    font-size: 18px;
    line-height: 167%;
  }
  .section-title {
    margin: 0px 0px 25px 0px;
  }
  ._suptitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin: 50px 0px 8px 0px;
  }
}

@media screen and (min-width: 1150px) {
  ._container {
    width: 1150px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-title {
    font-size: 42px;
    line-height: 49/42 * 100%;
  }
}
